{{/* layouts/shortcodes/recent-articles.html */}}

{{ $limit := (.Get "limit" | default "3" | int) }}

{{/* Grab the newest regular pages. Optionally filter to specific sections if you want later. */}}
{{ $pages := where site.RegularPages "Type" "in" (slice "vcf" "posts" "blog" "academics" "journey" "military") }}
{{ if eq (len $pages) 0 }}
  {{ $pages = site.RegularPages }}
{{ end }}

{{ $pages = first $limit (sort $pages "Date" "desc") }}

<div class="recent-articles">
  {{ range $pages }}
    <article class="recent-article">
      <a class="recent-article__title" href="{{ .RelPermalink }}">
        {{ .Title }}
      </a>
      {{ with .Params.description }}
        <div class="recent-article__summary">
          {{ . }}
        </div>
      {{ else }}
        {{ with .Summary }}
          <div class="recent-article__summary">
            {{ . | plainify }}
          </div>
        {{ end }}
      {{ end }}
    </article>
  {{ end }}
</div>
